@import '~@wisetail/tokens/build/scss/variables';

@import './list-view';

.attempt-container {
  display: grid;
  margin-bottom: 2rem;
  gap: 2rem;
  grid-template-areas: 'header' 'output' 'actions' 'form';
  grid-template-rows: auto;

  header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  h3 {
    flex: 0 0 6rem;
  }
  h2 {
    small {
      display: block;
      font-size: 0.666em;
      font-weight: normal;
      font-style: italic;
    }
  }

  .challenge-output {
    position: relative;
    transition: 300ms opacity;

    &:after {
      display: block;
      position: absolute;
      left: 50%;
      bottom: 0;
      padding: 2rem;
      font-size: 3rem;
      text-transform: uppercase;
      color: $color-silver-50;
    }
  }

  .attempt-output {
    opacity: 1;
    z-index: 1;
  }

  .challenge-output {
    opacity: 0;
  }

  .diff-output {
    opacity: 0;
    z-index: 2;

    &:hover {
      opacity: 1;
    }
  }
}

.diff-output,
.attempt-output,
.challenge-output {
  grid-area: output;
}

.attempt-help {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 2rem;

  > .modal-trigger {
    margin-right: 2rem;

    &:nth-last-child(2) {
      margin-left: auto;
    }
  }
}

.attempt-actions {
  margin: 0 auto;
}

.attempt-static {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  margin: 0 -0.5rem 1rem;

  > * {
    flex: 1 1 20em;
    margin: 0 0.5rem 1rem;
  }
}

.attempts-list {
  margin: 2rem 0;

  h3 {
    font-weight: normal;
    font-style: italic;
  }

  p {
    padding: 1rem;
  }
}

.attempts-list {
  margin: 2rem 0;

  h3 {
    font-weight: normal;
    font-style: italic;
  }

  p {
    padding: 1rem;
  }
}
