@import '~@wisetail/tokens/build/scss/variables';

.challenge {
  header {
    --layout-buttons-height: 3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 2rem;

    h1 {
      margin: 0;
    }
  }
}

.challenge-container {
  margin: 0 0 3rem;
  border: 1px solid $color-silver-20;
  border-radius: 3px;
}

.challenge-markup {
  padding: 1.5rem;

  pre {
    margin: 0;
    white-space: pre-wrap;
  }

  code {
    font-size: 1.5rem;
  }
}
