@import '~@wisetail/tokens/build/scss/variables';

.form-wrap {
  display: grid;
  height: 100%;
  gap: 1rem;
  grid-template-rows: auto minmax(min-content, 1fr) auto;
}

.form-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  margin: 0 -0.5rem 1rem;

  > * {
    flex: 1 1 20em;
    margin: 0 0.5rem 1rem;
  }

  input,
  textarea,
  select {
    margin: 0 0 1rem;
    padding: 0.5rem;
    font-size: 1.6rem;
    border: 1px solid $color-silver-20;
    border-radius: 3px;
  }

  input[name='title'] {
    margin: 0;
    padding: 0 0.5rem;
    font-size: 2.4rem;
    border-radius: 0;
    border-color: transparent;
    border-bottom-color: $color-silver-20;
  }

  button:focus,
  input:focus,
  textarea:focus {
    border-color: $color-silver-50;
    outline: 0;
  }

  input[name='title']:focus {
    border-color: transparent;
    border-bottom-color: $color-silver-50;
  }
}

.form-actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;

  > * {
    margin-right: 2rem;

    &:last-child {
      margin-right: 0;
    }

    &[type='submit'] {
      width: 20em;
      padding: 0;
      background: none;
      border: 0;
      appearance: none;

      wds-button {
        width: 100%;
      }
    }
  }
}
